
\.DS_Store

edge/edge/\.classpath

edge/edge/\.settings/org\.eclipse\.core\.resources\.prefs

edge/edge/\.settings/

frontend/\.settings/

frontend/target/

frontend/\.classpath

frontend/\.project

edge/edge/target/

server/\.settings/

server/target/

edge/edge/\.project

server/\.project

server/\.classpath

frontend/src/main/frontend/node/node_modules/

frontend/src/main/frontend/node_modules/

edge/\.mvn/

frontend/src/main/frontend/npm-debug\.log

\.project

\.settings/org\.eclipse\.core\.resources\.prefs

*.prefs

mobile/ionic/cards/node_modules/
